<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.1.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<http use-expressions="true">
		<intercept-url pattern="/anonymous**" access="isAnonymous()" /> <!-- all the user in the app will be checked if authenticated -->
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/**" access="isAuthenticated()" />

		<form-login login-page="/login" default-target-url="/login?error" />
		<logout delete-cookies="JSESSIONID" />

		<remember-me key="uniqueAndSecret" token-validity-seconds="86400"/>

		<!-- means we are using the custom form, for built in form dun put anything -->

	</http>
	<authentication-manager>
		<authentication-provider>
			<!-- Normally, in this part we will declare the source of the user, for 
				simplicity we will hard code the users. USeful in testing -->
			<user-service>
				<user name="user1" password="user" authorities="ROLE_USER" />
				<user name="admin1" password="admin" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>